* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #95D5B2;
    font-family: "Poppins", serif;
}

hr {
    border: none;
    height: 2px;
    background-color: #1B4332;
    margin: 2rem 50px;
}

header {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000; 
    background-color: #1B4332;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-left: 1.375rem;
    color: #D8F3DC;
    font-size: 2.1rem;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0.1rem;
}

header span {
    color: #74C69D;
}

header .rightPart {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    margin-right: 2.5rem;
}

li {
    margin-right: 1.5rem;
}



a {
    text-decoration: none;
    color: #D8F3DC;
    font-size: 0.9rem;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.1rem;
    transition: color 0.2s;
    position: relative;
    /* transition: transform 0.3s; */

}

a:hover {
    color: #95D5B2;
    /*transform: scale(1.2);*/
}



a.active {
    color: #74C69D;
}

a::after {
    border: none;
    content: '';
    position: absolute;
    bottom: -1.5px;
    left: 0;
    width: 0; /* Start with no underline */
    height: 1.5px; 
    background-color: #74C69D; 
    transition: width 0.3s ease-in-out; /* Smooth transition */
}

a.active::after {
    width: 100%; /* Expand the underline */
}




.chatBtn {
    margin-right: 1.375rem;
    background-color: #D8F3DC;
    color: #1B4332;
    height: 40px;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 0.25rem;
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.chatBtn:hover {
    background-color: #95D5B2;
    color: #1B4332;
}

#Home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

#Home .leftPart {
    color: #1B4332;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.3px;
    width: 525px;
    line-height: 55px;
    margin-top: 60px;
    margin-left: 150px;
}

#Home .leftPart h2 {
    font-size: 50px;
}

#Home .leftPart p {
    font-size: 40px;
}

#Home .leftPart span {
    color: #081C15;
}

section button {
    background-color: #1B4332;
    margin-right: 15px;
    color: #D8F3DC;
    height: 40px;
    width: auto;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
    letter-spacing: 1px;
    border: none;
    border-radius: 0.25rem;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

section button:hover {
    background-color: #1B4332;
    color: #B7E4C7;
}

#Home .rightPart {
    margin-top: 120px; 
    margin-right: 170px; 
}

#Home .rightPart img {
    height: 450px;
    width: auto;
}

#About {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#About img {

    height: 450px;
    width: auto;
}

#About .leftPart {
    margin-top: 60px;
    margin-left: 150px; 
}

#About .rightPart{
    color: #1B4332;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.2px;
    width: 650px;
    line-height: 26px; 
    margin-right: 150px;
}

#About .rightPart h2 {
    font-size: 45px;
    margin-bottom: 25px;
    margin-left: 20px;
}

#About .rightPart p {
    font-size: 22px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px; 
}

#About .rightPart p::before {
    content: "•"; 
    color: #1B4332; 
    font-size: 25px; 
    position: absolute; 
    left: 0; 
    top: 0; 
} 

#About .rightPart span {
    color: #081C15;
    font-weight: 600;
    font-style: italic;
}

#Experience {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Experience .leftPart{
    color: #1B4332;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.2px;
    width: 650px;
    line-height: 26px; 
    margin-top: 60px;
    margin-left: 130px;
}

#Experience .leftPart h2 {
    font-size: 45px;
    margin-bottom: 25px;
    margin-left: 20px;
}

#Experience .leftPart p {
    font-size: 22px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px; 
}

#Experience .leftPart p::before {
    content: "•"; 
    color: #1B4332; 
    font-size: 25px; 
    position: absolute; 
    left: 0; 
    top: 0; 
} 

#Experience .leftPart span {
    color: #081C15;
    font-weight: 600;
    font-style: italic;
}

#Experience .rightPart {
    margin-top: 20px; 
    margin-right: 50px; 
}

#Experience img {

    height: 450px;
    width: auto;
}

#Projects {
    height: 500px;
}

#Projects h2{
    color:#1B4332;
    font-size: 45px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.2px;
    margin-top: 60px;
    margin-left: 130px;
    margin-bottom: 10px;
}

.Graphical-Section{
    height: 400px;
}

.Horizontal-line{
    width: auto;
    background-color: #1B4332;
    height: 6px;
    margin: 0px 50px;
    display: flex;
    justify-content: space-around;
}

.vertical-line{
    width: 6px;
    height: 130px;
    background-color: #1B4332;
    margin-top: 6px;
    margin-left: -230px;
}


.project-title{
    color: #081C15;
    height: 95px;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 0.2px;
    width: 230px;
    margin-top: 130px;
}

.project-info{
    color: #1B4332;
    width: 230px;
    font-weight: 500;
    font-size: 16px;
    font-style: italic;

}






footer {
    background-color: #1B4332;
    color: #D8F3DC;
    display: flex;
    align-items: center;
    height: 130px;
}

#Education{
    margin-top: 0px;
    margin-left: 30px;
}

#Education h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 0.4px;
}

#Education p{
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
}

#Education p {
    position: relative;
    padding-left: 20px; 
}

#Education p::before {
    content: "•"; 
    color: #D8F3DC; 
    font-size: 15px; 
    position: absolute; 
    left: 0; 
    top: 0; 
}

footer .rightPart{
    display: block;
}

#Contact {
    margin-top: -10px;
    padding-left: 250px;
    
} 

 #Contact a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s;
} 

#Contact img {
    width: 50px;
    height: 50px;
}
 

#Contact a:hover {
    transform: scale(1.2); 
}

.copyright {
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 0.4px;
    margin-left: 17px;
}

